body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.calendar {
  width: 90%;
  height: 70%;
  border: 2px solid black;
  display: flex;

}

div.day {
  flex: 1 1 auto;

}
